/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */


/* Generici */

:root{
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    --bg-beige: hsl(0, 0%, 96%);
    --color-indigo: hsl(238, 100%, 65%);
    --lighter-indigo: hsl(238, 100%, 75%);
    --lighter-black: hsl(206, 9%, 15%); 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*img{
    max-width: 100%;
}*/

.extra-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

button, select {
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
}

.download-white {
    filter: invert();
    padding-right: .5rem;
}

.indigo-buttons {
    background-color: var(--color-indigo);
    border: none;
    outline: none;
    padding: .8rem 2rem;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    display: flex;
}

.indigo-buttons:hover {
    background-color: var(--lighter-indigo);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.white-buttons {
    background-color: hsl(0, 0%, 100%);
    border: none;
    outline: none;
    padding: .8rem 2rem;
    border-radius: 30px;
    color: hsl(0, 0%, 0%);
    display: flex;
}

.white-buttons:hover {
    color: var(--lighter-indigo);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.black-buttons {
    background-color: hsl(0, 0%, 0%);
    border: none;
    outline: none;
    padding: .8rem 2rem;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    display: flex;
}

.black-buttons:hover {
    background-color: var(--lighter-black);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

a {
    display: flex;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

/* Header*/

header {
    background-color: var(--color-indigo);
    color: white;
    background-image: url(img/hero-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: .8rem;
    margin-inline: 2rem;
}

.links {
    display: flex;
}

.links a {
    padding: .5rem 1rem;
    font-weight: 500;
}

nav .white-buttons {
    font-size: inherit;
    padding: .8em 1em;
}

.jumbotron{
    text-align: center;
}

.jumbo-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: 25rem;
    margin-top: 8rem;
    margin-bottom: -3rem;
    z-index: 1;
    align-items: center;
}

.jumbo-text p{
    line-height: 2;
}

header h1 {
    font-size: 4rem;
    padding-bottom: 1.5rem;
}

.background {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    z-index: 0;
    margin-top: -8rem;
}

.jumbo-buttons {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    padding-bottom: -8rem;
}

.jumbo-buttons button {
    margin: .8rem;
    z-index: 1;
}


/* Main */

.horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.5rem;
}

main>:nth-child(2){
    flex-direction: row-reverse;
}

main>section:nth-child(even) {
    background-color: var(--bg-beige);
}

main h2 {
    margin-bottom: 1em;
    font-size: 2.5rem;
}

main p {
    line-height: 2;
}

.text-block {
    margin-left: 6rem;
}

.text-block-reverse {
    margin-right: 6rem;
}

#vertical-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.5rem;
    text-align: center;
}

#vertical-info h2 {
    margin-bottom: 1rem;
}

#stars {
    margin-bottom: -1.2rem;
}

#vertical-info h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

/* Footer */

footer{
    color: white;
    background-color: var(--lighter-black);
    font-weight: 300;
    padding-top: 4rem;
    font-size: .9rem;
}

.main-footer{
    display: flex;
    justify-content: space-around;
}

footer select{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: .7rem;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}

.language img {
    height: 1rem;
}

.language {
    display: flex;
}

.social {
    padding: 3rem 0;
}

.social img {
    padding-inline: 0 1rem;
}

.indigo-titles {
    color: var(--color-indigo);
    margin-bottom: 1rem;
    padding-inline: .3rem;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.footer-right a{
    flex-direction: column;
    flex-grow: 1;
    padding: .3rem;
}

.footer-right section {
    padding-inline: 2rem;
}

.footer-bottom{
    border-top: 1px solid var(--color-indigo);
    margin-inline: 5%;
    padding-block: 2rem 4rem;
    display: flex;
    justify-content: space-between;
}

footer .indigo-buttons {
    font-size: .7rem;
    padding: 1em 1.1em;
}